/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Poppins:wght@400;500;600&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: "Poppins";
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* end reset */


body {
    /* background-color: rgb(254, 253, 245); */
    background: url('./img/bg-body.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.container {
    background-color: rgba(248, 246, 246, 0.705);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 14px 14px 0 0 rgb(105, 104, 104);
    margin-top: 10px;
}

.startGame {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(1, 100px);
}

.startGame .card {
    font-size: 1.2rem;
    user-select: none;
}

.card {
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
}

.card div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #373a3b;
    background: white;
    border-radius: 10px;
    transition: all 500ms ease-out;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.startGame button {
    cursor: pointer;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    color: white;
    background: hsla(133, 23%, 35%, 0.89);
}

.startGame .card.active div {
    border: 2px solid hsla(0, 0%, 0%, 0.39);
}

.card .back {
    transform: rotateY(-180deg);
}

.startGame .card:hover .front,
.card.flip .front {
    transform: rotateY(180deg)
}

.startGame .card:hover .back,
.card.flip .back {
    transform: rotateY(0deg);
}

.new-game {
    font-size: 25px;
    margin-top: 1.5rem;
    cursor: pointer;
}


.playground {
    display: grid;
    gap: 10px;
    display: none;
    padding: 5px;
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-13px);
    }

    40% {
        transform: translateX(13px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }
}

.card.match {
    animation: rubberBand 1s linear forwards;
}

@keyframes rubberBand {
    0% {
        transform: scaleX(1);
    }

    40% {
        transform: scaleX(1.12) scaleY(0.75);
    }

    55% {
        transform: scaleX(0.85) scaleY(1);
    }

    65% {
        transform: scaleX(1.09) scaleY(0.85);
    }

    75% {
        transform: scaleX(0.9) scaleY(1);
    }

    90% {
        transform: scaleX(1.05) scaleY(0.95);
    }

    100% {
        transform: scaleX(1) scaleY(1)
    }
}

/* adds */


/* Target cards in startGame */
.startGame .front,
.startGame .back {
    height: 100px;
    width: 100px;
}

/* Target cards in the playground */
.playground .card .front,
.playground .card .back {
    height: 180px;
    width: 150px;
}

.playground .card .front img,
.playground .card .back img {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


h3 {
    font-family: "Darumadrop One", sans-serif;
    font-size: 3rem;
    margin-top: -20px;
    ;
    color: rgb(36, 35, 35);
}

.scoreBoard {
    background-color: white;
    height: 400px;
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    margin-top: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 80%;
}

.parent {
    display: flex;
    gap: 40px;

}

.scoreBoard .time {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.scoreBoard button {
    cursor: pointer;
    height: 50px;
    width: 150px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    color: white;
    background: hsl(133, 20%, 32%);
    font-size: 1.2rem;
    margin-top: 6.5rem;
}

.hidden {
    display: none !important;
}

/* winner banner */

.scoreBoard {
    position: relative;
}

.winner-banner {
   
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    padding: 10px 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* background-color: rgba(248, 246, 246, 0.705); */
    z-index: 1;
    width: 250px;
    text-align: center;
} 

.winner-banner p {
    font-family: "Darumadrop One", sans-serif;
    font-size: 2rem;
}



button:hover {
    background: hsl(133, 20%, 45%);
}

.win-cards {
    opacity: 50%;
}